::ng-deep nb-layout-column {
  justify-content: center;
  display: flex;
}

::ng-deep .nb-theme-corporate nb-layout .layout {
  display: inline !important;
}


::ng-deep.nb-theme-corporate nb-chat .header {display: none}

::ng-deep.nb-theme-corporate nb-chat {
  height: 693px !important;
}


::ng-deep.nb-theme-corporate nb-chat-message.not-reply nb-chat-message-text .text {
  background: #c6c6c6;
	color: black;
    margin-right: auto;
    margin-left: 8px;
    max-width: calc(100% - 150px);

	&:before {
		left: -7px;
    width: 20px;
    background-color: #c6c6c6;
		border-bottom-right-radius: 16px 14px;
	}

	&:after {
		left: -7px;
    width: 7px;
    background-color: #f0f0f0;
		border-bottom-right-radius: 10px;
	}
}


::ng-deep.nb-theme-corporate nb-chat-message.reply nb-chat-message-text .text {
	color: white;
	background: #0B93F6;
	align-self: flex-end;
    margin-right: 8px;

	&:before {
		right: -7px;
        width: 20px;
        background-color: #0B93F6;
        border-bottom-left-radius: 16px 14px;
	}

	&:after {
		right: -7px;
        width: 7px;
        background-color: #f0f0f0;
        border-bottom-left-radius: 10px;
	}
}

::ng-deep.nb-theme-corporate{
   all: unset;
}
