<div class="chat" (keyup.enter)="send(chatInputMessage)" style="margin-top: 0px;">
  <div class="chat-history" id="chat-history-parent" #scrollMe>
    <ul class="m-b-0" id="chat-history">

      @for (message of messages; track message.index) {
        @if (!message.reply) {
          <li class="clearfix">
            <div class="message-data">
              <img src="./assets/robot.png" alt="avatar" class="avatar">
              <p class="receive">
                {{message.text}}
              </p>
            </div>
          </li>
        }
        @else if (message.reply) {
        <li class="clearfix">
          <div class="message-data">
            <p class="send">
              {{message.text}}
            </p>
            <img src="./assets/human.png" alt="avatar" class="avatar">
          </div>
        </li>
        }
      }
    </ul>
  </div>

  <div
    *ngIf="showLoader"
    class="stage"
    id="dotFalling">
    <div class="dot-falling"></div>
  </div>

  <div class="chat-message clearfix">
    <div class="input-group mb-0">
      <input
        id="chatInput"
        type="text"
        class="form-control chat-input-bs"
        placeholder="Type your message..."
        [(ngModel)]="chatInputMessage"
      />
      <div class="input-group-append input-group-append-bs">
          <span matTooltip="Send message" style="cursor: pointer; background-color: #005cbb !important;" class="input-group-text input-group-text-bs" (click)="send(chatInputMessage)">
            <i
              class="fa fa-paper-plane"
              style="color: #ffffff"
              id="chatButton"

            ></i>
          </span>
      </div>
    </div>
  </div>
</div>
