<div style="padding: 30px">
  <h2 class="mb-4">
  <mat-icon style="color: #6c6e70; float: right;" matTooltip="Check the latest OpenAI models and their pricing at: https://openai.com/pricing.">help</mat-icon>
  OpenAI API Configuration  
  </h2>
  <form [formGroup]="openAIConfigurationForm" (ngSubmit)="onSubmit()" class="example-form">

    <mat-form-field class="example-full-width">
    <mat-label>Model Name</mat-label>
    <input type="text"
           placeholder="Select OpenAI model name"
           aria-label="Model Name"
           matInput
           formControlName="modelName"
           [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of options; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>API Key</mat-label>
      <input type="password" matInput placeholder="Enter OpenAI API Key" formControlName="apiKey">
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <mat-label>API URL</mat-label>
      <input type="text" matInput placeholder="Enter OpenAI API URL" formControlName="apiURL" >
    </mat-form-field> -->

    <mat-form-field class="example-full-width">
      <mat-label>
        Azure Endpoint
        <mat-icon style="color: #6c6e70; margin-left: 15px; float: right;" matTooltip="Leave this field blank if your endpoint is not provided through Microsoft Azure.">
          help
        </mat-icon>
      </mat-label><input type="text" matInput placeholder="Enter Azure Endpoint URL" formControlName="azureEndpoint" >
    </mat-form-field>

    <button style="float: right" mat-flat-button color="primary" [disabled]="!openAIConfigurationForm.dirty || openAIConfigurationForm?.invalid">Save</button>

  </form>

</div>
