
<div style="height: 100%">
  <div style="visibility: hidden; position: absolute;">
    <svg width="90%" height="90%">
        <g/>
    </svg>
  </div>
  <div id="canvas" style="height: 90%; width: 90%; padding: 0; margin: 0; position: absolute"></div>

  <div style="visibility: hidden">
      <div style="position: fixed; top: 0px; left: 0px">
          <svg id="internalSvg" style="width: 0%; height: 0%"></svg>
      </div>
      <div
      id="internalCanvas"
      style="
          height: 0%;
          width: 0%;
          padding: 0;
          margin: 0;
          top: 0px;
          left: 0px;
          position: fixed;
      "
      ></div>
  </div>

<!--  <div class="container mt-5">-->

  <div class="chat-model-container">
    <div class="model-section">
      <h3 style="margin-top: 0px;">BPMN Model</h3>
      <div #ref id="bpmn-container" data-bpmn-content="bpmnContentBase64" style="height: 700px; border: 1px solid #c3c3c3;">
      </div>
   </div>
  </div>

<!--  </div>-->

</div>


