
.djs-hit{
  display: none !important;
}

#bpmn-container{
  ::ng-deep{
    /*
        Disable BPMN editing
    */

    .djs-context-pad .entry {
        display: none !important;
    }

    .djs-palette .separator {
        display: none !important;
    }

    .djs-palette .entry:not(.bpmn-icon-hand-tool):not(.bpmn-icon-lasso-tool):not(.bpmn-icon-space-tool):not(.bpmn-icon-zoom-tool) {
        display: none !important;
    }

    .djs-bendpoint {
        display: none !important;
    }

    .djs-bendpoint .djs-hit {
        display: none !important;
    }

    .djs-direct-editing-content {
        display: none !important;
    }

    .djs-direct-editing-parent {
        display: none !important;
    }

  }
}

