<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js/dist/assets/diagram-js.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" crossorigin="anonymous">

    <title>LLM@PM</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.1/dagre-d3.min.js"></script>
    <!-- <script type="text/javascript" src="https://unpkg.com/bpmn-js@17.0.2/dist/bpmn-navigated-viewer.production.min.js"></script> -->
    <script src="https://unpkg.com/bpmn-js/dist/bpmn-modeler.development.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../static/js/generalSettings.js"></script>
    <script type="text/javascript" src="../static/js/bpmnLayouter.js"></script>
    <script type="text/javascript" src="../static/js/bpmnLoader.js"></script>
    <script type="text/javascript" src="../static/js/chat.js"></script>
</head>
<body>
    {% for message in get_flashed_messages(category_filter=["error"]) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">LLM@PM</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Upload BPMN Model</h2>
        <form id="upload-form" action="{{ url_for('upload_bpmn') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" id="bpmnFile" name="bpmnFile" accept=".bpmn">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>

  {% if bpmn_content_base64 %}
  <div style="visibility: hidden; position: absolute;">
	<svg width="90%" height="90%">
	  <g/>
	</svg>
	</div>
	<div id="canvas" style="height: 90%; width: 90%; padding: 0; margin: 0; position: absolute"></div>
    <div style="visibility: hidden">
      <div style="position: fixed; top: 0px; left: 0px">
        <svg id="internalSvg" style="width: 0%; height: 0%"></svg>
      </div>
      <div
        id="internalCanvas"
        style="
          height: 0%;
          width: 0%;
          padding: 0;
          margin: 0;
          top: 0px;
          left: 0px;
          position: fixed;
        "
      ></div>
    </div>  
  <div class="container mt-5">
        <h2>BPMN Model</h2>
        <div id="bpmn-container" data-bpmn-content="{{ bpmn_content_base64 }}" style="height: 600px; border: 1px solid #000;">
    </div>
    <div class="container mt-5">
        <h2>Chat About the Uploaded BPMN</h2>
        <div id="chat-box" style="height: 300px; overflow-y: scroll;"></div>
        <form id="chat-form" onsubmit="sendMessage(); return false;">
            <div class="form-group">
                <input type="text" class="form-control" id="user_message" placeholder="Type your message...">
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
            <button type="button" class="btn btn-warning" id="reset_button" style="margin-left: 5px;">Reset Conversation</button>

        </form>
    </div>
    {% endif %}
</body>
</html>