<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">

    <img src="../assets/logos/18_fit_rgb_white.png" height="50%"/>

    <h1 class="example-app-name">AIPA: AI-Powered Process Analyst</h1>

    <button mat-button (click)="snav.toggle()">
      <mat-icon class="white-icon">menu</mat-icon>
      <span class="white-icon">Configure</span>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav fixedTopGap="56" position="end">
      <app-openai-configuration (closeOverlay)="snav.toggle()"></app-openai-configuration>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-card class="home-screen-card">

        <div class="flex-child">
          <h2 style="margin-top: 0px;">Choose BPMN Model</h2>
          <span *ngIf="currentFile" class="selected-bpmn">{{ fileName }}</span>
          <span style="margin-left: 20px">
              <input
                style="display: none"
                type="file"
                accept=".bpmn"
                #fileInput
                (change)="fileChanged($event)"
              />
              <button
                mat-flat-button
                color="secondary"
                (click)="fileInput.click()"
                style="height: 35px"
              >
                Select new model
              </button>
            </span>

        </div>

      </mat-card>

      <div>
        <mat-grid-list [cols]="breakpoint" rowHeight="800px" (window:resize)="onResize($event)"
                       *ngIf="bpmnContentBase64!=''" style="width: 98%; margin-top: 30px">
          <mat-grid-tile class="my-tile">

            <app-bpmn-renderer class="home-screen-card content-card"
                               [bpmnContentBase64]="bpmnContentBase64"></app-bpmn-renderer>

          </mat-grid-tile>

          <mat-grid-tile class="my-tile" style="margin-top: -10px;">

            <div style="width: 100%;height: 100%;margin: 15px;padding: 15px;">
              <h3 style="margin-top: 0px;margin-bottom: 0px;display: flex;align-items: center;">Chat about the Model
                <span style="margin-left: auto;">
                  <button mat-stroked-button color="warn" (click)="resetConvoSubject.next()">Reset Conversation</button>
                </span>
              </h3>

              <app-chat [resetConvo]="resetConvoSubject.asObservable()" class="home-screen-card content-card"></app-chat>

            </div>


          </mat-grid-tile>
        </mat-grid-list>
      </div>


    </mat-sidenav-content>

  </mat-sidenav-container>

  <div fxFlexOffset="auto" color="primary" style="height: 20px; background-color: #343a40">

  </div>

</div>

