<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">

    <img style="cursor: pointer" (click)="window.location.reload()" src="../assets/logos/18_fit_rgb_white.png" height="50%"/>

    <h1 class="example-app-name">AIPA<span class="full-name">: AI-Powered Process Analyst</span></h1>


    <button mat-button (click)="snav.toggle()">
      <mat-icon class="white-icon">menu</mat-icon>
      <span class="white-icon">Configure</span>
    </button>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav fixedTopGap="56" position="end">
      <app-openai-configuration (closeOverlay)="snav.toggle()"></app-openai-configuration>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">

      <mat-card class="home-screen-card">

        <div class="flex-child">
          <h2 style="margin-top: 0px;">Choose BPMN Model</h2>
          <span *ngIf="currentFile" class="selected-bpmn">{{ fileName }}</span>
          <span style="margin-left: 20px">
              <input
                style="display: none"
                type="file"
                accept=".bpmn"
                #fileInput
                (change)="fileChanged($event)"
              />
              <button
                mat-flat-button
                color="secondary"
                (click)="fileInput.click()"
                style="height: 35px"
                class="choose-bpmn-button"
                matTooltip="Select a BPMN model to start AI powered analysis"
              >
                Select new model
              </button>
            </span>

        </div>

      </mat-card>

      <div>

        <div class="container-fluid mt-1" *ngIf="bpmnContentBase64!=''">

          <div class="flex-container" style="height: 76vh">
            <div class="flex-item first-element" #firstElement style="height: 70vh">
              <app-bpmn-renderer class="home-screen-card content-card"
                               [bpmnContentBase64]="bpmnContentBase64"></app-bpmn-renderer>
            </div>

            <div class="grabber" appResize [leftResize]="firstElement" [rightResize]="rightElement">

            </div>

            <div class="flex-item right-element" #rightElement style="height: 70vh">

              <div style="width: 100%;height: 100%">

                <h3 style="margin-top: 10px;margin-bottom: -10px;display: flex;align-items: center;">Chat about the Model
                  <span>
                    <mat-icon style="color: #005cbb;margin: -10px 0 0 2px;float: left;" matTooltip="Either the whole BPMN model (default) or a subset can be selected to be used for querying">help</mat-icon>
                  </span>

                  <span style="margin-left: auto;">
                    <button [disabled]="!environment.ENABLE_SENDING_SUBMODEL" mat-flat-button color="secondary" (click)="resetConvoSubject.next()">Reset Conversation</button>
                  </span>
                </h3>

                <app-chat [resetConvo]="resetConvoSubject.asObservable()" class="home-screen-card content-card"></app-chat>

              </div>
            </div>
          </div>
        </div>

      </div>


    </mat-sidenav-content>

  </mat-sidenav-container>

  <div fxFlexOffset="auto" color="primary" style="height: 20px; background-color: #343a40">

  </div>

</div>

