.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.example-app-name {
  flex: 1 1 auto;
  text-align: center;
  margin-left: -140px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.white-icon {
    color: white;
}

.home-screen-card {
  margin: 15px;
  padding: 15px;
}

.content-card{
   height: 700px;
}



.selected-bpmn{
  background: #c2c2c2;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
  margin-left: 20px;
  font-weight: 400;
  font-size: large;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: -24px;
}
