.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.example-app-name {
  flex: 1 1 auto;
  text-align: center;
  //margin-left: 140px;
  color: white !important;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.white-icon {
    color: white;
}

.home-screen-card {
  margin: 15px;
  padding: 15px;
}

.content-card{
  height: 100%;
  width: 100%;
}

@media screen and (max-width:700px) {
  .choose-bpmn-button{ margin-top: 10px; }
  .full-name{display:none !important;}
}


.selected-bpmn{
  background: #c2c2c2;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: large;
}


.my-tile{
  padding: 5px !important;
}

.flex-container{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.flex-item{
    flex:1 5 50%;
    height: 600px;
    padding: 5px 20px 20px 20px;
}
.grabber{
  width:3px;
  margin-top: 16vh;
  z-index: 1;
  border-left:3px solid #575656;
  height:50vh
}
.grabber:hover{
    cursor:e-resize;
}

@media screen and (max-width:1200px) {
  .flex-container { flex-wrap: wrap;  }
  .grabber { display: none; }
  .first-element { flex: auto !important; }
  .right-element { flex: auto !important; margin-top: 24px }
}


